@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@layer base {
  body {
    @apply bg-white text-black font-openSans;
  }

  h1 {
    @apply font-bold text-6xl;
  }

  p {
    @apply font-medium text-base;
  }
}

.HomePage-container {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.HomePage-title {
  cursor: default;
  letter-spacing: -2px;
  margin: 10px 0;
}